i {
    font-size: 7em;
    margin: 1rem;
    color: slateblue;
    /* filter: drop-shadow(3px 1px 1px gray); */

}

.shaking {
    animation-name: wooble;
    animation-duration: 1s;
}

.Die-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.Die-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.Die-button {
    margin: 2rem;

}

.Die-button button {
    border-radius: 0.5em;
    width: 15em;
    border: 0px;
    padding: 1.5em;
    background-color: black;
    color: white;
    /* margin: 0 50px; */
}

.Die-button button:hover {
    background-color: darkslateblue;
}

@keyframes wooble {
    from {
        transform: translate3d(0, 0, 0);
    }
    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: translate3d(0, 0, 0);
    }


}